.carouselContainer {
 display: flex;
 flex: 1;
 flex-direction: row;
 align-items: center;
 justify-content:flex-start;
}

.blocksContainer {
  width: 1000px;
  height: 320px;
  position: relative;
  
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.arrow {
  font-size: 32px;
  cursor: pointer;
}

.arrow:first-child {
  margin-right: 15px;
}

.arrow:last-child {
  margin-left: 15px;
}

button:disabled {
  color: var(--gray-500);
}
